.Blog ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Blog li {
    display: inline-block;
    margin: 20px;
}

.Blog a {
    text-decoration: none;
    color: black;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active {
    color: coral;
}